html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e0e5ec;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e0e5ec;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navbar list style */
nav ul {
  display: flex;
  list-style: none;
  margin: 0 1.5rem;
  padding: 0;
}

nav ul li {
  margin-right: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #2d3748;
  font-size: 1rem;
}

/* Hover effect untuk menu items */
nav ul li a:hover {
  color: black;
}

/* Style hamburger menu */
.hamburger {
  display: none;
  margin: 0 1.5rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.hamburger .line {
  width: 25px;
  height: 4px;
  background-color: #2d3748;
  border-radius: 5px;
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #f7fafc;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: 1.5rem;
    color: #2d3748;
  }

  /* Menampilkan hamburger menu */
  .hamburger {
    display: flex;
  }

  .nav-active {
    display: flex;
  }
}

/* Tampilan utama di layar besar */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  text-align: center;
}

/* Tampilan teks dengan efek gradien */
.welcome a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.welcome p {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
}

/* Animasi untuk efek shine */
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/* Media Query untuk perangkat dengan layar kecil (misalnya mobile) */
@media (max-width: 768px) {
  .welcome {
    height: 60vh; /* Mengurangi tinggi untuk perangkat lebih kecil */
  }

  .welcome p {
    font-size: 30px; /* Menurunkan ukuran font pada perangkat lebih kecil */
    letter-spacing: 3px; /* Mengurangi jarak huruf agar lebih pas */
  }

  .welcome a {
    font-size: 18px; /* Mengurangi ukuran font link */
  }
}

/* Media Query untuk perangkat dengan layar sangat kecil (misalnya handphone kecil) */
@media (max-width: 480px) {
  .welcome {
    height: 50vh; /* Mengurangi tinggi lebih lanjut */
  }

  .welcome p {
    font-size: 24px; /* Ukuran font lebih kecil untuk layar sangat kecil */
    letter-spacing: 2px; /* Menyesuaikan jarak antar huruf */
  }

  .welcome a {
    font-size: 16px; /* Menyesuaikan ukuran font link */
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  background-color: #cd795f;
}

.text-section {
  flex: 1;
  padding: 50px 30px 50px 30px;
}

.text-section h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  color: #333333;
}

.text-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 20px;
  color: #333333;
  margin-top: 20px;
  text-align: justify;
}

.text-section a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  box-shadow: 20px 20px 40px #a4614c, -20px -20px 40px #f69172;
  color: #ffffff;
  text-decoration: none;
  border-radius: 44px;
  font-size: 16px;
}

.text-section a:hover {
  background-color: #555555;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .text-section,
  .card {
    width: 75%;
    max-width: none;
    margin-bottom: 5%;
  }
}

.card {
  /* flex: 1; */
  border-radius: 40px;
  background: linear-gradient(145deg, #b96d56, #db8166);
  box-shadow: 20px 20px 40px #a4614c, -20px -20px 40px #f69172;
  flex-direction: column;
  padding: 20px;
  margin-right: 5%;
  text-align: center;
}

.card img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.card .illustration h2 {
  font-size: 24px;
  color: #333333;
}

.card .illustration p {
  font-size: 16px;
  color: #333333;
  text-align: left;
}

.skill-title h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.skills-container {
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section {
  width: 45%;
  margin: 0 2.5%;
}
.skills-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.skill {
  margin-bottom: 20px;
}
.skill-name {
  font-size: 18px;
  margin-bottom: 5px;
}
.progress {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ff4d4d;
  border-radius: 25px;
  overflow: hidden;
}
.progress-bar {
  height: 20px;
  background-color: #ff4d4d;
  text-align: right;
  padding-right: 10px;
  line-height: 20px;
  color: #fff;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .skills-section {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
}

/* education */
.container-education {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
  margin: 40px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.timeline .header {
  font-weight: bold;
}

.timeline {
  position: relative;
  width: 45%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 40px;
  /* Adjusted to start below the first item */
  left: 20px;
  width: 2px;
  height: calc(100% - 40px);
  /* Adjusted to end above the last item */
  background: #ccc;
}

.timeline-item {
  position: relative;
  margin: 20px 0;
  padding-left: 40px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.timeline-item .date {
  display: inline-block;
  padding: 10px 40px;
  background: #ff4b4b;
  color: #fff;
  border-radius: 60px 0 100px 60px;
  margin-bottom: 10px;
}

.timeline-item .date.grey {
  background: #ff4b4b;
}

.timeline-item .date.red {
  background: #ff4b4b;
}

.timeline-item .content-education {
  background: #fff;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item .content-education h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.timeline-item .content-education p {
  margin: 5px 0;
  color: #ff4b4b;
}

.timeline-item .content-education .description {
  color: #666;
}

.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .container-education {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Mengurangi padding untuk layar kecil */
  }

  .timeline {
    width: 100%; /* Membuat timeline lebar 100% di layar kecil */
    margin-bottom: 20px; /* Menambahkan jarak bawah */
  }

  .timeline-item {
    padding-left: 20px; /* Mengurangi padding kiri untuk tampilan lebih rapat */
  }

  .timeline::before {
    left: 10px; /* Menyesuaikan posisi garis timeline untuk layar kecil */
  }

  .timeline-item .date {
    padding: 8px 30px; /* Menyesuaikan ukuran padding date */
    font-size: 14px; /* Menyesuaikan ukuran font date */
  }

  .timeline-item .content-education h3 {
    font-size: 16px; /* Mengurangi ukuran font pada heading */
  }

  .timeline-item .content-education p {
    font-size: 14px; /* Menyesuaikan ukuran font */
  }

  .header {
    font-size: 20px; /* Menyesuaikan ukuran font header */
  }
}

.section-title {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
}
.service-tag {
  display: inline-block;
  background-color: #ffe6e6;
  color: #ff4d4d;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 20px;
}
.service-item {
  flex: 1 1 200px;
  max-width: 250px;
  padding: 20px;
  border-radius: 20px;
  background: #e0e5ec;
  box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff;
  transition: all 0.3s ease;
}
.service-item:hover {
  box-shadow: inset 7px 7px 15px #bebebe, inset -7px -7px 15px #ffffff;
  transform: translateY(-5px);
}
.service-item i {
  font-size: 40px;
  color: #ff4d4d;
  margin-bottom: 15px;
}
.service-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.service-description {
  font-size: 0.9em;
  color: #666;
}
@media (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }
}

/* Item Portofolio */

.container-portofolio {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
  color: #333;
}

.header .portfolio-btn {
  background-color: #ecf0f3;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  transition: all 0.3s;
}

.header .portfolio-btn:hover {
  box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
}

.filters {
  margin: 20px 0;
}

.filters button {
  background-color: #ecf0f3;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  transition: all 0.3s;
}

.filters .active {
  background-color: #ff4d4d;
  color: #fff;
  box-shadow: none;
}

.filters button:hover {
  box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: #e0e5ec;
  box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff;
  transition: all 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  transition: all 0.3s;
}

.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.portfolio-item .description {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.portfolio-item .description h3 {
  margin: 0;
  font-size: 1.2em;
  color: #ff4d4d;
}

.portfolio-item .description p {
  margin: 5px 0 0;
  font-size: 0.9em;
}

.load-more {
  background-color: #ecf0f3;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  transition: all 0.3s;
}

.load-more:hover {
  box-shadow: inset 5px 5px 10px #d1d9e6, inset -5px -5px 10px #ffffff;
}

.description .icon {
  display: inline-block;
  margin-right: 5px;
  color: #ff4d4d;
}

@media (max-width: 768px) {
  .portfolio-item {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .portfolio-item {
    width: 100%;
  }
}

.character-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #cd795f;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.character {
  width: 300px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 25%;
  margin: -150px;
  animation: walk 3s ease-in-out;
  animation-iteration-count: infinite;
}
.character .head {
  width: 150px;
  height: 150px;
  background: #03a9f4;
  border-radius: 50%;
  position: relative;
  border: 4px solid #2389b7;
  margin: auto;
  animation: bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}
.character .head .eyes {
  position: absolute;
  top: 49px;
  left: 70px;
}
.character .head .eyes span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #044e6f;
  display: inline-block;
  margin: 0 10px;
}
.character .head .eyes:after {
  content: "";
  height: 16px;
  width: 34px;
  background: #044e6f;
  display: block;
  position: absolute;
  right: 15px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 30px;
}
.character .body {
  width: 120px;
  height: 128px;
  margin: auto;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-bottom: 4px solid #2389b7;
  border-left: 4px solid #2389b7;
  display: block;
  background: #03a9f4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  animation: body-bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}
.character .body:before {
  content: "";
  width: 50px;
  height: 100px;
  display: block;
  background: #0d90cc;
  position: absolute;
  top: 0;
  left: -18px;
  z-index: 2;
  border-radius: 30px;
  animation: bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}
.character .body:after {
  content: "";
  width: 50px;
  height: 100px;
  display: block;
  background: #0d90cc;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
  border-radius: 30px;
  animation: bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}
.character .shadow {
  width: 150px;
  height: 20px;
  display: block;
  position: absolute;
  border-radius: 50%;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  background: #2389b7;
}
.character svg {
  position: absolute;
  left: 90px;
  background: white;
  bottom: 20px;
  z-index: 1;
  max-width: 90px;
  animation: email-bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
@keyframes email-bounce {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 50px;
  }
}
@keyframes body-bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
@keyframes walk {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

/* form untuk kirim saran */
.custom-form {
  flex: 1;
  padding: 16px;
  max-width: 400px;
  width: calc(16px * 20);
  margin: 0 5%;

  .segment {
    padding: calc(16px * 2) 0;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: calc(16px * 1.5);
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: calc(1px * 20);
    background-color: #ebecf0;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;

    &:focus {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }
  }

  textarea {
    resize: none; /* Prevent resizing */
    height: 150px; /* Adjust height as needed */
  }

  button {
    padding: 1.5em 5em;
    margin: 2em 0;
    background: #efefef;
    border: none;
    border-radius: 40px;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: -6px -6px 14px#cd795f, -6px -6px 10px #cd795f,
      6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  }
  button:hover {
    box-shadow: -2px -2px 6px #cd795f, -2px -2px 4px #cd795f,
      2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  button:active {
    box-shadow: inset -2px -2px 6px #cd795f,
      inset -2px -2px 4px rgba(255, 255, 255, 0.5),
      inset 2px 2px 2px rgba(255, 255, 255, 0.075),
      inset 2px 2px 4px rgba(0, 0, 0, 0.15);
  }

  .icon {
    margin-right: 8px;
  }

  &.red {
    color: #ae1100;
  }
}

/* Aturan untuk perangkat dengan layar kecil */
@media (max-width: 768px) {
  .character-wrap {
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    height: auto;
  }

  .character {
    position: relative;
    width: 200px;
    height: 160px;
    top: 0;
    margin: 0;
  }

  .character .head {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .character .body {
    width: 80px;
    height: 100px;
    margin: 0 auto;
  }

  .custom-form {
    width: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .custom-form label {
    margin-bottom: 10px;
  }

  .custom-form input,
  .custom-form textarea {
    padding: 12px;
  }

  .custom-form button {
    padding: 12px;
    font-size: 14px;
  }

  .character svg {
    width: 60px;
    height: 50px;
  }
}

/* Aturan untuk perangkat dengan layar kecil */
@media (max-width: 768px) {
  .character-wrap {
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    height: auto;
  }

  .character {
    display: none; /* Menyembunyikan karakter ketika layar kecil */
  }

  .custom-form {
    width: 100%;
    max-width: 100%;
    padding: 8px;
  }

  .custom-form label {
    margin-bottom: 10px;
  }

  .custom-form input,
  .custom-form textarea {
    padding: 12px;
  }

  .custom-form button {
    padding: 12px;
    font-size: 14px;
  }

  .character svg {
    width: 60px;
    height: 50px;
  }
}

/* Aturan untuk perangkat dengan layar lebih kecil dari 480px */
@media (max-width: 480px) {
  .character-wrap {
    height: auto;
    padding: 8px;
  }

  .character {
    display: none; /* Menyembunyikan karakter ketika layar kecil */
  }

  .custom-form {
    width: 100%;
    padding: 8px;
  }

  .custom-form label {
    margin-bottom: 8px;
  }

  .custom-form input,
  .custom-form textarea {
    padding: 10px;
  }

  .custom-form button {
    padding: 10px;
    font-size: 14px;
  }

  .character svg {
    width: 50px;
    height: 40px;
  }
}

.footer {
  background-color: #1a1a2e;
  color: #e0e0e0;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.footer h1 {
  display: flex;
  margin-top: 0;
  padding: 20px;
  font-size: 2.5em;
  margin-bottom: 0px;
  justify-content:left;
  margin-left: 90px;
}
.info-footer {
  display: flex;
  justify-content: space-between; /* Mengatur kolom agar terpisah kiri, tengah, kanan */
  width: 100%;
  max-width: 1200px; /* Menentukan lebar maksimum kontainer */
  padding: 0 10px; /* Menambahkan padding kiri dan kanan untuk memberikan jarak */
}
.info-column-footer {
  text-align: left;
  width: 30%; /* Menentukan lebar kolom */
  padding: 0 100px; /* Menambahkan jarak kiri dan kanan di dalam kolom */
}
.info-column-footer h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #b0b0b0;
}
.info-column-footer p {
  margin: 5px;
}
.dotted-line {
  border-bottom: 1px dotted #b0b0b0;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .info-footer {
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* Mengurangi padding untuk layar kecil */
  }
  .info-column-footer {
    margin-bottom: 30px;
    width: 100%; /* Agar kolom memenuhi lebar layar pada ukuran kecil */
    text-align: center;
  }
}
